.comment{ :id => dom_id(comment) }
  %table{ :style => 'border-top: 1px solid black;' }
    %tr{ :style => 'vertical-align: top;' }
      %td{ :style => '' }
        - cc = sanitize(cc)
        - cc = simple_format(comment.content)
        = auto_link(cc).html_safe
    %tr
      %td{ :style => 'text-align: right; font-size: 90%;' }
        == #{time_ago_in_words(comment.created_at)} ago

