%table{ :style => 'background: #fff; border: 1px solid #ccc;' }
  %tr{ :style => 'border: 1px solid #ccc; padding: 5px;' }
    %td{ :style => 'border: 1px solid #ccc; padding: 5px;' }
      - cc = sanitize(cc)
      - cc = simple_format(comment.content)
      = auto_link(cc).html_safe
  %tr{ :style => 'border: 1px solid #ccc; padding: 5px;' }
    %th{ :style => 'background: #eee; text-align: right; font-size: 80%;' }
      == Posted #{time_ago_in_words(comment.created_at)} ago

