- [:alert, :notice, :error, :success].each do |key|
  - unless flash[key].blank?
    %p{ :class => "flash #{key}" }= flash[key]

= render_comment_form_for(@topic, user)

- @comments.each do |comment|
  = render :partial => 'loudmouth/comments/comment', :object => comment  


